/*ESERCIZIO 1*/

.ex-1-square {
    transition: background-color 2s;
}
.ex-1-square:hover {
    background-color: red;
}

/*ESERCIZIO 2*/
.ex-2-square {
    width: 100px;
    transition: width 2s;
}
.ex-2-square:active {
    width: 100%;
}

/*ESERCIZIO 3*/
.ex-3-square {
    transition: border-radius 0.5s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

/*ESERCIZIO 4*/
.ex-4-square {
    background-color: red;
    transition: background-color 0.5s;
}
.ex-4-square:hover {
    background-color: transparent;
}

/*ESERCIZIO 5*/
.ex-5-square {
    transition: transform 0.5s;
}
.ex-5-square:hover {
    transform: scale(2);
}

/*ESERCIZO 6*/
.ex-6-img {
    transition: filter;
}
.ex-6-img:hover {
    filter: grayscale(1);
}